* {
  margin: 0;
}
body {
  margin: 0;
  font-family: 'Radio Canada Big', 'Murecho', system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: #1d1d1d;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
